body {
  font-family: "Lato", sans-serif;
}

button,
svg,
img {
  cursor: pointer;
}

.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar settings */
.sidebar-section {
  background-color: rgba(0, 0, 155, 0.7);
  grid-column: 1/2;
  grid-row: 1/3;
  color: white;
}

/* sidebar grid settings */
.sidebar {
  display: grid;
  grid-template-rows: auto auto auto 10fr;
  gap: 50px;
  padding: 30px;
}

.sidebar-header {
  font-size: 2.4rem;
  font-weight: 600;
}

.sidebar-nav > ul > li,
.sidebar-settings > ul > li {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 15px;
}
/* header setting */
.header-section {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}

/* .header grid settings */
.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
  margin-bottom: 20px;
  gap: 20px;
}

.header > .search {
  display: inline-grid;
  grid-template-columns: auto 90%;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

#search-icon > svg {
  height: 25px;
  width: auto;
}

.header > .search > .search-bar {
  cursor: text;
  height: 30px;
  width: 100%;
  border-radius: 16px;
  background-color: rgba(224, 239, 255, 1);
}

.header > .profile {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

#notification-icon > svg {
  height: 25px;
  width: auto;
}

.header > .profile > #small-profile {
  height: 50px;
  width: 50px;
}

.header > .profile > .small-name {
  font-size: 1rem;
  font-weight: 600;
}

/* intro section */
.header > .intro {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.intro > #intro-profile {
  height: 80px;
  width: auto;
}

.intro > .intro-text {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.intro > .intro-text > p:first-child {
  font-weight: 600;
}

.intro > .intro-text > p:last-child {
  font-weight: 800;
  font-size: 1.2rem;
}

/* header button section */
.header > .header-buttons {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: right;
  align-items: center;
  gap: 30px;
}

.header > .header-buttons > .header-button {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 32px;
  color: white;
  background-color: rgb(120, 185, 255);
}

.profile-icon > img {
  max-height: 100%;
}

.main-content-section {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: aliceblue;
}

/* main content section */

.main-content {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 30px 40px;
}

.main-content > .projects {
  grid-column: 1/4;
  grid-row: 1/3;
}

.main-content > .projects > .card-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.main-content > .projects > .card-stack > .card {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main-content > .projects > .card-stack > .card > .side-card {
  height: 100%;
  background-color: orange;
  border-radius: 16px 0 0 16px;
}

.main-content > .projects > .card-stack > .card > .card-content {
  width: 90%;
  word-wrap: break-word;
}
/* Announcements section */
.main-content > .announcements {
  grid-column: 4/5;
  grid-row: 1/2;
}

.announcements > .announcements-card {
  height: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 10px;
  padding-bottom: 10px;
}

.announcements > .announcements-card > .announcement-content {
  margin: 0 20px;
}

.announcements > .announcements-card > .announcement-content > p:first-child {
  font-weight: 600;
}

.announcements > .announcements-card > .announcement-content:first-of-type {
  margin-top: 20px;
}

.announcements > .announcements-card > .announcement-content:last-of-type {
  margin-bottom: 20px;
}

/* Trending Section */
.main-content > .trending {
  grid-column: 4/5;
  grid-row: 2/3;
  padding-top: 10px;
}

.main-content > .trending > .trending-card {
  height: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: auto;
  justify-content: left;
  align-items: center;
  border-radius: 16px;
}

.main-content > .trending > .trending-card > .trending-profile {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: center;
}

.main-content
  > .trending
  > .trending-card
  > .trending-profile
  > #small-profile {
  height: 50px;
  width: 50px;
}

.main-content > .projects > .projects-header,
.announcements-header,
.trending-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
