button,
svg,
img {
  cursor: pointer;
}

.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar settings */
.sidebar {
  background-color: rgba(0, 0, 255, 0.563);
  grid-column: 1/2;
  grid-row: 1/3;
}

/* sidebar grid settings */
.sidebar {
  display: grid;
  grid-template-rows: auto auto auto 10fr;
  gap: 30px;
}

/* header setting */
.header {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}

/* .header grid settings */
.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.search,
.intro {
  margin-left: 8%;
}

.header > .search {
  display: inline-grid;
  grid-template-columns: auto 80%;
  justify-content: left;
  align-items: center;
}

#search-icon > svg {
  height: 35px;
  width: auto;
}

.header > .search > .search-bar {
  cursor: text;
  height: 30px;
  width: 80%;
  border-radius: 16px;
  background-color: rgba(224, 239, 255, 1);
}

.header > .profile {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#notification-icon > svg {
  height: 35px;
  width: auto;
}

.header > .profile > #small-profile {
  height: 50px;
  width: auto;
}

/* intro section */
.header > .intro {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
}

.intro > #intro-profile {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

/* header button section */
.header > .header-buttons {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
  justify-items: left;
  align-items: center;
  gap: 30px;
}

.header > .header-buttons > .header-button {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 32px;
  color: white;
  background-color: rgb(120, 185, 255);
}

.profile-icon > img {
  max-width: 100%;
  max-height: 100%;
}

.main-content {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: aliceblue;
}

/* main content section */

.main-content {
  display: grid;
  grid-template-areas: "project project announcement" "project project trending";
  padding-top: 3%;
  gap: 1rem;
}

.main-content > .projects {
  grid-area: project;
  padding-left: 5%;
}

.main-content > .projects > .card-stack {
  height: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  border: 1px solid red;
}

.main-content > .projects > .card-stack > .card {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  height: 200px;
}

/* Announcements section */
.main-content > .announcements {
  grid-area: announcement;
}

.announcements > .announcements-card {
  height: 90%;
  width: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

/* Trending Section */
.main-content > .trending {
  grid-area: trending;
}
